body{
  font-family: "Poppins";
}

:root{
  --bg-color-black: black;
  --main-color: #DABC94;
  --color-grey: rgb(145, 145, 145);
}

/* || HERO */
.hero{
  height: 100vh;
  background-color: var(--bg-color-black);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Hero Container */
.hero-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Hero List */
.hero-list{
  flex: 1;
}

/* Hero Title */
.hero-title{
  color: var(--main-color);
  font-weight: 800; 
  font-size: clamp(2rem, 5vw, 6vw);
  margin-bottom: 2rem;
}

/* Hero Description */
.hero-description{
  color: var(--color-grey);
  font-size: clamp(0.75rem, 1vw, 1.5vw);
  line-height: 1rem;
}

/* Hero GIF */
.hero-gif{
  width: 50vw;
  height: 50vw;
  margin-inline: 2rem;
}

/* Hero Title and Description Together */
.hero-title, 
.hero-description{
  margin-inline: 2rem;
}

/* // First Content */
.first-content{
  height: 100vh;
  background-color: var(--bg-color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* First Content Title */
.first-content-title{
  color: var(--main-color);
  font-size: clamp(2rem, 5vw, 6vw);
  font-weight: 700;
  align-self: baseline;
  margin-inline: 10vw;
}

/* First Content Title */
.first-content-description{
  color: var(--color-grey);
  font-size: clamp(0.75rem, 1vw, 1.5vw);
  line-height: 1rem;
  margin-inline: 10vw;
}